@{
    ViewData["Title"] = "Login Page";
    Layout = "~/Views/shared/_Layout_Login.cshtml";
    
}
@model Nice_Admin_Panal.Areas.SEC_User.Models.SEC_UserModel

<main>
    <h1>hello kishan</h1>
  </main><!-- End #main -->

@section Scripts{ 
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}