@{
    ViewData["Title"] = "State";
    Layout = "~/Views/shared/_Layout.cshtml";
}
@model Nice_Admin_Panal.Areas.LOC_State.Models.LOC_StateModel
<h1>Add/Edit State</h1>

<main class="main" id="main">
    <h1>State Add/Update</h1>

    <div class="container-fluid border border-dark p-4">
        <form class="row">
            @Html.HiddenFor(x=>x.StateID)
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="col-6">
                <lable class="form-label">StateName</lable>
                <input type="text" required class="form-control" asp-for="StateName" placeholder="Gujrat">
            </div>
            <div class="col-6">
                <lable class="form-label">Statecode</lable>
                <input type="text" required class="form-control" asp-for="StateCode" id="inputAddress" placeholder="GUJ">
            </div>
            <div class="col-md">
                <label for="inputState" class="form-label">Country</label>
                <select id="inputState" class="form-select" asp-for="CountryID" asp-items="@(new SelectList (ViewBag.CountryList,"CountryID","CountryName"))">
                    <option selected value="">Select Country</option>
                </select>
                <span asp-validation-for="CountryID" class="text-danger"></span>
            </div>
            <div class="col-12 my-2">
                <button type="submit" class="btn btn-primary" asp-area="LOC_State" asp-controller="LOC_State" asp-action="Save">Add</button>
            </div>
        </form>
    </div>
</main>


